<div class="w-full">
  <%= render 'notice' %>

  <h1 class="font-bold text-xl pb-2">Your Pragmatic Catalog</h1>
  <% if session[:counter] >=1 %>
    <p class="mb-6 pb-2 border-b-2">You visited this page <%= session[:counter] %> times</p>
  <% end %>

  <%= turbo_stream_from 'products' %>

  <ul>
    <% cache @products do %>
      <% @products.each do |product| %>
        <% cache product do %>
          <%= render partial: 'product', object: product %>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>